Repository amahesh98/Chefmate, pull requests merged in 2020-04, with the labels that each got.

#191 WIP: Create UI For Likes & Dislikes Pages
  client/frontend/src/LikeDislikeButtons/LikeDislikeButtons.js
  client/frontend/src/likes/Dislikes.js
  client/frontend/src/likes/Likes.js
  client/frontend/src/likes/LikesExpansionPanel.js
  client/mongoConfig.js
  client/routes/search.js
  ranker/ranker.py
Labels: frontend

#192 Introduce Redux and Dark mode Toggle
  client/frontend/package.json
  client/frontend/src/App.js
  client/frontend/src/Headers/MenuIcon.js
  client/frontend/src/Homepage/Homepage.js
  client/frontend/src/index.js
  client/frontend/src/likes/Dislikes.js
  client/frontend/src/likes/Likes.js
  client/frontend/src/likes/LikesExpansionPanel.js
  client/frontend/src/likes/theme.js
  client/frontend/src/redux/actions/theme.js
  client/frontend/src/redux/actions/user.js
  client/frontend/src/redux/reducers/themeReducer.js
  client/frontend/src/redux/reducers/userReducer.js
Labels: frontend

#195 Added persisted storage
  client/frontend/src/index.js
  client/frontend/src/redux/store/PersistedStore.js
Labels: frontend

#196 UI page for history & no search results found
  client/frontend/src/SearchResult/NoResults.js
  client/frontend/src/history/History.js
  client/frontend/src/history/HistoryExpansionPanel.js
Labels: frontend

#197 Voice control
  client/frontend/src/SearchBar/SearchBar.js
  client/frontend/src/voice/Voice.js
Labels: frontend

#190 Bolding Query Terms
  client/frontend/src/SearchResult/Results.js
  client/frontend/src/SearchResult/SearchResult.js
  client/frontend/src/SearchResult/SingleResult.js
Labels: frontend

#199 Add DarkMode
  client/frontend/package.json
  client/frontend/src/App.js
  client/frontend/src/Headers/HeaderSearch.js
  client/frontend/src/Headers/HeaderSimple.js
  client/frontend/src/Headers/MenuIcon.js
  client/frontend/src/Homepage/Homepage.js
  client/frontend/src/SearchBar/SearchBar.js
  client/frontend/src/SearchResult/Results.js
  client/frontend/src/SearchResult/SearchResult.js
  client/frontend/src/SearchResult/SingleResult.js
  client/frontend/src/history/History.js
  client/frontend/src/history/HistoryExpansionPanel.js
  client/frontend/src/likes/Dislikes.js
  client/frontend/src/likes/Likes.js
  client/frontend/src/likes/LikesExpansionPanel.js
  client/frontend/src/likes/theme.js
  client/frontend/src/theme/theme.js
Labels: frontend

#228 Updated template to include theme
  client/frontend/src/template/template.js
Labels: frontend

#202 Update Crawler to Workout Our Memory Limitations
  client/frontend/src/SearchResult/Results.js
  crawler/buildIndex.py
  crawler/crawler.py
  crawler/dataParser.py
  crawler/databaseBuilder.py
  crawler/main.py
Labels: crawler

#227 Update ranker to avoid InMemoryTFIDF
  client/mongoConfig.js
  client/routes/search.js
  crawler/calculateTFIDF.py
  crawler/databaseBuilder.py
  crawler/mongoConfig.py
  ranker/loadInvertedIndexToMemory.py
  ranker/rankDocuments.py
  ranker/ranker.py
Labels: Ranker

#229 Beautiful signup
  client/frontend/src/App.js
  client/frontend/src/BeautifulLogin/BeautifulLogin.js
  client/frontend/src/BeautifulLogin/BeautifulSignup.js
  client/routes/user.js
Labels: frontend

#232 Threaded IDF and TFIDF
  crawler/buildIndex.py
  crawler/calculateIDF.py
  crawler/calculateTFIDF.py
Labels: Crawler

#231 Implement crawler threading
  crawler/buildIndex
  crawler/buildIndex.py
  crawler/dataParser.py
  crawler/databaseBuilder.py
  crawler/main.py
Labels: Crawler

#235 Perform Query Expansion
  crawler/calculateTFIDF.py
  crawler/main.py
  ranker/fetchDocuments.py
  ranker/loadInvertedIndexToMemory.py
  ranker/queryExpansion.py
  ranker/rankDocuments.py
  ranker/ranker.py
  ranker/stemQuery.py
Labels: Ranker

#245 Update extract data
  crawler/dataParser.py
  crawler/extractData.py
  crawler/fileIO.py
  crawler/mongoConfig.py
Labels: Crawler

#237 Display previously searched queries as default autofill data
  client/frontend/src/Homepage/Homepage.js
  client/mongoConfig.js
  client/routes/search.js
  client/routes/user.js
  crawler/mongoConfig.py
Labels: Front-End, NodeJS

#246 Implement Pseudo-Relevance Feedback
  crawler/calculateTFIDF.py
  ranker/cosineSimilarity.py
  ranker/fetchDocuments.py
  ranker/loadInvertedIndexToMemory.py
  ranker/pseudoRelevanceFeedback.py
  ranker/queryExpansion.py
  ranker/rankDocuments.py
  ranker/ranker.py
Labels: Ranker

#201 Implement timeout functionality
  client/frontend/src/SearchResult/SearchResult.js
  client/mongoConfig.js
Labels: Front-End

#250 Excluded terms working with colon method
  ranker/loadInvertedIndexToMemory.py
  ranker/rankDocuments.py
  ranker/ranker.py
Labels: Ranker

#249 Avg search time + Num of Searches Metric metric
  .gitignore
  client/clickLogger.js
  client/frontend/package.json
  client/frontend/src/SearchResult/SearchResult.js
  client/frontend/src/SearchResult/SingleResult.js
  client/routes/search.js
  client/routes/user.js
  logs/Meeting 2_12.pdf
  metrics
  metrics.py
Labels: NodeJS, System

#251 Create graph
  crawler/buildIndex.py
  crawler/dataParser.py
  crawler/extractData.py
  crawler/main.py
Labels: Crawler

#255 DataParser Bug Fix
  crawler/dataParser.py
Labels: Crawler

#256 Feeling lucky
  client/frontend/src/Homepage/FeelingLuckyButton.js
  client/frontend/src/Homepage/Homepage.js
Labels: Front-End

#257 Lucky loading
  client/frontend/src/Homepage/FeelingLuckyButton.js
  client/frontend/src/Homepage/Homepage.js
  client/mongoConfig.js
  ranker/rankerDBConfig.py
Labels: Front-End

#258 Internal Login
  client/passport-config.js
  client/routes/auth.js
  client/routes/user.js
  client/server.js
Labels: Front-End, NodeJS

#252 Perform KNN
  .gitignore
  client/makeRequest.js
  client/routes/external.js
  client/server.js
  crawler/main.py
  crawler/mongoConfig.py
  crawler/output.txt
  helpers.py
  ranker/loadInvertedIndexToMemory.py
  ranker/pseudoRelevanceFeedback.py
  ranker/ranker.py
  ranker/rankerDBConfig.py
  recommender/cosineSimilarity.py
  recommender/initialize.py
  recommender/knn.py
  recommender/pymongoSetup.py
  recommender/recommender.py
  recommender/requirements.txt
  start
Labels: Ranker
