Repository amahesh98/Chefmate, pull requests merged in 2020-05, with the labels that each got.

#234 pre-login page done! (minus scrolling part)
  client/frontend/public/index.html
  client/frontend/src/App.js
  client/frontend/src/BeautifulLogin/BeautifulLogin.js
  client/frontend/src/Footer/Footer.js
  client/frontend/src/Headers/MenuIcon.js
  client/frontend/src/Homepage/Homepage.js
  client/frontend/src/Login/HomepageBackground.css
  client/frontend/src/Login/HomepageBackground.js
  client/frontend/src/Login/LoginBox.js
  client/frontend/src/PageNotFound/PageNotFound.js
  client/frontend/src/PreLogin/AboutUs.js
  client/frontend/src/PreLogin/BeautifulHomepage.js
  client/frontend/src/PreLogin/Teammates.js
  client/frontend/src/SearchResult/Results.js
  client/frontend/src/SearchResult/SearchResult.js
  client/frontend/src/Videos/Videos.js
  client/frontend/src/Videos/Youtube.js
  client/frontend/src/history/History.js
  client/frontend/src/images/img1.jpeg
  client/frontend/src/images/img2.jpg
  client/frontend/src/images/img3.jpg
  client/frontend/src/images/img4.jpg
  client/frontend/src/images/profile1.jpg
  client/frontend/src/images/profile2.jpg
  client/frontend/src/images/profile3.jpg
  client/frontend/src/images/profile4.jpg
  client/frontend/src/images/profile5.jpg
  client/frontend/src/images/profile6.jpg
  client/frontend/src/likes/Dislikes.js
  client/frontend/src/likes/Likes.js
Labels: Front-End

#261 Mongo env auth
  client/mongoConfig.js
  crawler/mongoConfig.py
  ranker/rankerDBConfig.py
Labels: Database

#260 Hits
  crawler/buildIndex.py
  crawler/calculateHubAuth.py
  crawler/databaseBuilder.py
Labels: Crawler

#262 Perform collaborative Filtering Calculations
  client/clickLogger.js
  ranker/rankDocuments.py
  recommender/KNearestNeighbors.py
  recommender/collaborativeFiltering.py
  recommender/convertWeightsToZeroAverage.py
  recommender/initialize.py
  recommender/pymongoSetup.py
  recommender/recommender.py
Labels: Ranker

#265 added special chars to ranker and removed password printing
  crawler/mongoConfig.py
  ranker/addSpecialChars.py
  ranker/ranker.py
  recommender/recommender.py
Labels: Ranker

#266 Did you mean algorithm
  client/frontend/src/SearchResult/SearchResult.js
  ranker/fetchDocuments.py
  ranker/levenDistance.py
  ranker/rankDocuments.py
  ranker/ranker.py
Labels: NodeJS, Ranker

#267 UI for Timeout
  client/frontend/src/App.js
  client/frontend/src/SearchResult/Results.js
  client/frontend/src/SearchResult/SearchResult.js
  client/frontend/src/SearchResult/Timeout.js
Labels: Front-End

#268 Excluded works with pseudo-relevance
  ranker/pseudoRelevanceFeedback.py
  ranker/rankDocuments.py
Labels: Ranker

#270 Did U Mean UI
  client/frontend/src/SearchResult/NoResults.js
  client/frontend/src/SearchResult/Results.js
  client/frontend/src/SearchResult/SearchResult.js
  client/routes/search.js
Labels: Front-End
